@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /*Ajustou a imagem madeira do fundo para uma só, sem repetição e completa*/
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative; /*Container de dentro*/
}

section#telefone {
    /*Container de fora com o cód abaixo*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Esse cód faz com que puxe o quadrado pro centro do main. Pq so o top e o left deixou o quadrado no canto esquerdo e não no centro*/

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat; /*Tirou a repetição da imagem do celular*/

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px; /*Ajuste perfeito para a imagem da tel ado celular ficar dentro da tela do celular*/
    border-radius: 1px;
    
}

section#redes-sociais {
    text-align: right;

}

section#redes-sociais img { /*CSS da parte das imagens das redes sociais*/
    width: 50px; /*Precisa somente do width pq já reduz auto o width e o weight*/
    margin: 10px;
    border-radius: 50%; /*Faz uma borda redonda sendo metade da imagem, o que faz com que todos os cantos se juntem, formando um círculo*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39)

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.363); /*Cria a borda nos ícones de redes sociais*/
    transform: translate(-3px, -3px); /*Faz com que os ícones de redes sociais va um pouco para esquerda e cima qnd passa o mouse por cima*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform .5s, border 1s; /*Faz com que os ícones andem suavemente e que a borda apareça com uma margem de tempo tb. Porém, o "border" ta dando uma travadinha nos ícones no final. */
}